<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team05.dao.AlertDao">
	<select id="progressAlert" resultType="alert" parameterType="alert">
		SELECT m.userno, prj.TITLE, s.item, s.progress
		FROM schedule s, participate p, project prj, MEMBER m
		WHERE prj.pno = s.pno AND s.itemno = p.itemno AND m.pno = prj.pno
		AND m.userno = #{userno}
		AND m.pno = #{pno}
		AND PROGRESS = #{progress}
	</select>
</mapper>