<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team5.dao.LogDao">

<!-- 로그 등록 -->
<insert id="insertLog"  parameterType="schedule">
insert into log
values 
((SELECT NVL(MAX(logno), 0) + 1 FROM log),#{itemno}, 
#{pno} , #{userno} , DEFAULT)
</insert>	

<!-- 일정 아이템명 추출 -->
<select id="logList" parameterType="schedule" resultType="log">
select * 
from schedule 
WHERE item = #{item}
</select>


<!-- 일정/로그  -->
<select id="DetailLog" parameterType="int" resultType="log">
SELECT l.*,s.item,s.progress,s.deadline,comm
FROM log l,SCHEDULE s
WHERE l.itemno = s.ITEMNO(+)
AND l.itemno =#{itemno};
</select>

<!-- 로그시간 추출 -->
<select id="selectLd" parameterType="int" resultType="log">
select logDate
from log
where itemno = #{itemno}
</select>


<!-- 아이템 등록(비교)  -->
	<insert id="ck_update" parameterType="schedule">
		INSERT INTO ck_update
		values(#{itemno}, #{pno}, #{item,jdbcType=VARCHAR},
		#{progress,jdbcType=VARCHAR}, to_date(#{deadline_s,jdbcType=VARCHAR},'YYYY-MM-DD'),
		#{comm,jdbcType=VARCHAR}, #{auth,jdbcType=VARCHAR})
	</insert>
	
	
	
</mapper>
