<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team5.dao.MainDao">
	<select id="getScheduleList" resultType="schedule" parameterType="int">
		SELECT *
		FROM schedule
		WHERE 1=1
		and pno = #{pno}
	</select>
	<select id="getScheduleDetail" resultType="schedule" parameterType="int">
		SELECT *
		FROM schedule
		WHERE 1=1
		and itemno = #{itemno}
	</select>
	<insert id="insertSchedule" parameterType="schedule">
		INSERT INTO schedule
		values(itemno_seq.nextval, #{pno}, #{item,jdbcType=VARCHAR},
		#{progress,jdbcType=VARCHAR}, to_date(#{deadline_s,jdbcType=VARCHAR},'YYYY-MM-DD'),
		#{comm,jdbcType=VARCHAR}, #{auth,jdbcType=VARCHAR})
	</insert>
	
	<select id="getUserNoList" resultType="int" parameterType="int">
		SELECT userno
		FROM participate
		WHERE 1=1
		and itemno = #{itemno}
	</select>
	<update id="updateSchedule" parameterType="schedule">
	UPDATE schedule
		SET item = #{item,jdbcType=VARCHAR},
			progress = #{progress,jdbcType=VARCHAR},
			deadline = to_date(#{deadline_s,jdbcType=VARCHAR},'YYYY-MM-DD'),
			comm = #{comm,jdbcType=VARCHAR}
		WHERE itemno = #{itemno}
	</update>
	<delete id="deleteSchedule" parameterType="int">
		DELETE
		FROM schedule
		WHERE itemno = #{itemno}
	</delete>
	<select id="getNames" resultType="names" parameterType="int">
		SELECT a.userno, s.item, a.name
		FROM participate p, account a, schedule s
		WHERE p.itemno = s.itemno AND p.userno = a.userno
		AND p.itemno = #{itemno}
	</select>
</mapper>