<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team5.dao.ProjectDao">
	<select id="getProjectList" resultType="projectmemberjoin" parameterType="int">
		SELECT TITLE, p.PNO 
		FROM PROJECT p, MEMBER m 
		WHERE p.PNO = m.PNO
		AND USERNO = #{userno}
	</select>
	
	<select id="joinProject" resultType="int" parameterType="string">
		SELECT pno
		FROM PROJECT
		WHERE code=#{code}
	</select>
	
	<insert id="createProject" parameterType="project">
	 	INSERT INTO PROJECT values(seq_pno.nextval, #{title}, #{ptype}, #{purpose}, #{code})
	</insert>
	
	<insert id="insertMemberHost" parameterType="member">
		INSERT INTO MEMBER VALUES (#{userno}, #{pno}, #{auth})
	</insert>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER VALUES (#{userno}, #{pno}, #{auth})
	</insert>
</mapper>


   